body {
    margin: 0;
    background:#C6DCBA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #EAECCC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .navbar{
    padding: 0 30px;
    max-width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;

}
nav .navbar{
    padding: 0 30px;
    max-width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}
.logo a {
    color: #12372A;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style-type: none;
    display: flex;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #BBC3A4;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #FBFADA;
    border: 1px solid #12372A;
    z-index: 1;
}
.dropdown li {
    display: block;
}
.nav-links li:hover .dropdown {
    display: block;
}
.dropdown a {
    display: block;
    padding: 10px;
    color: #436850;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #BBC3A4;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style-type: none;
    display: flex;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: #12372A;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: white;
}
