body {
    margin: 0;
    background: #FDF4F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #BA90C6;
    color: white;
    display: flex;
    padding: 10px 20px;
}

nav .navbar {
    padding: 0 30px;
    max-width: 1250px;
    margin: auto;
    align-items: center;
    display: flex;
    width: 100%;

}

.logo a {
    color: #FDF4F5;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.dropdown {

    display: none;
    position: absolute;
    background-color: #C0DBEA;
    z-index: 1;
}
.dropdown li {
    display: block;
}
.nav-links li:hover .dropdown {
    display: block;
}
.dropdown a {
    display: block;
    padding: 10px;
    color: #91Da73;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #E8A0BF;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: #FDF4F5;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #f2ffb2;
}

.dropdown-content button:hover {
    background-color: #a9a9a9;
}

.search:focus-within{
    background: #f1f1f1;
}

.search{
    --padding: 1px;
    margin-left: 500px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 6px;
    background: #f6f6f6;
    height: 30px;
    width: 215px;
    transition: background 0.25s;
}
.search-input{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9f9f9f;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;

}
.search-input::placeholder,
.search-icon{
    color: #7d7d7d;
}

