body {
    margin: 0;
    background:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #EAECCC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .navbar{
    padding: 0 30px;
    max-width: 1250px;
    margin: auto;
    align-items: center;
    display: flex;
    width: 100%;

}
.logo a {
    color: #12372A;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #FBFADA;
    border: 1px solid #12372A;
    z-index: 1;
}
.dropdown li {
    display: block;
}
.nav-links li:hover .dropdown {
    display: block;
}
.dropdown a {
    display: block;
    padding: 10px;
    color: #436850;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #BBC3A4;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style-type: none;
    display: flex;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    color: #12372A;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content form {
    padding: 15px;
  }
  
  .dropdown-content input[type="text"],
  .dropdown-content input[type="password"],
  .dropdown-content button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
  }
  
  .dropdown-content button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #555;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }




